mat-card {
    width: 400px;
    margin: 0 auto;    
    
}

mat-form-field {
    display: flex;
    flex-direction: column;
}

mat-raised-button {
    width: 100%;
}

.title-login {
    text-align: center;
    margin-top: 20px;
}

