<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
    <form class="form-login">
      <div mat-dialog-content>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Digite o nome do exame"/>
        </mat-form-field>           
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Digite o nome do exame"/>
          </mat-form-field>          
      </div>
    </form>
    <div mat-dialog-actions [align]="'start'">      
      <button mat-raised-button style="margin-left: 8px" class="background-color">
       Entrar
      </button>
    </div>
  
  </mat-card>
  
  

