<div id="i" class="c">
  <mat-card>
    <mat-card-title class="title">Requisição de Exames</mat-card-title>
    <mat-divider></mat-divider>
    <img mat-card-image src="../../../assets/biolab_logo.png" class="img_logo">
    <mat-card-content>
      <mat-divider></mat-divider>
      <br>
      <div class="row">
        <mat-card-title><strong style="font-size: 20px;">Dados do Cliente</strong>
        </mat-card-title>
        <div class="col-4">
          <p class="p"><strong>Nome: </strong>Palmério Júlio</p>
          <p class="p"><strong>CPF: </strong>053.857.854-82</p>
          <p class="p"><strong>Telefone: </strong>(81)9-9800-0493</p>
        </div>
        <div class="col-4">
          <p class="p"><strong>RG: </strong>05685464</p>
          <p class="p"><strong>Nascimento: </strong>03/01/1983</p>
          <p class="p"><strong>Médico Solicitante: </strong>DR Fulando</p>
        </div>
        <div class="col-4">
          <p class="p"><strong>CRM: </strong>CRM/PE 145263</p>
          <p class="p"><strong>Diabético: </strong>Não</p>
          <p class="p"><strong>Nascimento: </strong>03/01/1983</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <br>
      <div class="row">
        <mat-card-title><strong style="font-size: 20px;">Exames</strong></mat-card-title>
        <div class="col-12">
          <p class="p">
            <strong>Hemograma: </strong>R$ 10,00
            <strong> Amilase: </strong>R$ 10,00
            <strong> Latex/Fator reumatóide: </strong>R$ 15,00
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          Via: Laboratório
        </div>
        <div class="col-4">
          Data da emissão: 23/10/2022
        </div>
        <div class="col-4">
          Valor dos exames: R$ 35,00
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title class="title">Requisição de Exames</mat-card-title>
    <mat-divider></mat-divider>
    <img mat-card-image src="../../../assets/biolab_logo.png" class="img_logo">
    <mat-card-content>
      <mat-divider></mat-divider>
      <br>
      <div class="row">
        <mat-card-title><strong style="font-size: 20px;">Dados do Cliente</strong>
        </mat-card-title>
        <div class="col-4">
          <p class="p"><strong>Nome: </strong>Palmério Júlio</p>
          <p class="p"><strong>CPF: </strong>053.857.854-82</p>
          <p class="p"><strong>Telefone: </strong>(81)9-9800-0493</p>
        </div>
        <div class="col-4">
          <p class="p"><strong>RG: </strong>05685464</p>
          <p class="p"><strong>Nascimento: </strong>03/01/1983</p>
          <p class="p"><strong>Médico Solicitante: </strong>DR Fulando</p>
        </div>
        <div class="col-4">
          <p class="p"><strong>CRM: </strong>CRM/PE 145263</p>
          <p class="p"><strong>Diabético: </strong>Não</p>
          <p class="p"><strong>Nascimento: </strong>03/01/1983</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <br>
      <div class="row">
        <mat-card-title><strong style="font-size: 20px;">Exames</strong></mat-card-title>
        <div class="col-12">
          <p class="p">
            <strong>Hemograma: </strong>R$ 10,00
            <strong>Hemograma: </strong>R$ 10,00
            <strong>Hemograma: </strong>R$ 10,00
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          Via: Cliente
        </div>
        <div class="col-4">
          Data da emissão: 23/10/2022
        </div>
        <div class="col-4">
          Valor dos exames: R$ 25,50
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-raised-button style="margin-left: 8px" class="background-color" (click)="gerarPDF()">
        Imprimir
      </button>
    </mat-card-actions>
  </mat-card>
  <br><br>
</div>
