<mat-card class="example-card">

    <mat-toolbar class="background-color">
      <mat-icon class="mat-18">description</mat-icon>
      <span>Requisições emitidas</span>
    </mat-toolbar>
  
    <button mat-raised-button routerLink="/requisicao">Iniciar Requisição</button>
  
    <mat-form-field appearance="standard" style="margin-left: 10px; width: 85%;">
      <input matInput placeholder="digite o nome ou cpf do cliente" #input>
      <mat-label>Pesquisar</mat-label>
    </mat-form-field>
  
    <div class="mat-elevation-z8">
      <table mat-table class="mat-elevation-z8">
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let pessoa">  </td>
        </ng-container>
  
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let pessoa">  </td>
        </ng-container>
  
        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef> CPF </th>
          <td mat-cell *matCellDef="let pessoa">  </td>
        </ng-container>
    
        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef> Telefone </th>
          <td mat-cell *matCellDef="let pessoa"> </td>
        </ng-container>
      
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let pessoa">
            <button mat-icon-button color="primary" aria-label="Editar Exame">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Deletar Exame">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [length]="100" [pageSize]="8" [pageSizeOptions]="[4, 8]" aria-label="Selecione a página">
      </mat-paginator>
  
    </div>
  
  </mat-card>
  
