<mat-card class="example-card">

    <mat-toolbar class="background-color">
      <mat-icon class="mat-18">description</mat-icon>
      <span>Requisições emitidas</span>
    </mat-toolbar>
  
    <button mat-raised-button routerLink="/requisicao">Iniciar Requisição</button>
  
    <mat-form-field appearance="standard" style="margin-left: 10px; width: 85%;">
      <input matInput (keyup)="applyFilter($event)" placeholder="digite o nome ou cpf do cliente" #input>
      <mat-label>Pesquisar</mat-label>
    </mat-form-field>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let requisicao">{{requisicao.id}}</td>
        </ng-container>
  
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Name do cliente</th>
          <td mat-cell *matCellDef="let requisicao"> {{requisicao.pessoa.nome}} </td>
        </ng-container>
  
        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef> CPF </th>
          <td mat-cell *matCellDef="let requisicao"> {{requisicao.pessoa.cpf | cpf}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor dos exames</th>
          <td mat-cell *matCellDef="let requisicao"> {{requisicao.valorTotalRequisicao | currency : 'BRL'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data da emissão</th>
          <td mat-cell *matCellDef="let requisicao"> {{requisicao.dataCriacaoRequisicao | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
      
        <ng-container matColumnDef="visualizar">
          <th mat-header-cell *matHeaderCellDef> Visualizar </th>
          <td mat-cell *matCellDef="let requisicao">
            <button mat-icon-button color="primary" aria-label="Editar Exame" (click)="gerarPdf(requisicao.id)">
              <mat-icon>picture_as_pdf</mat-icon>
            </button>
           <!-- <button mat-icon-button color="warn" aria-label="Deletar Exame">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>-->
        </ng-container>
   
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [length]="100" [pageSize]="8" [pageSizeOptions]="[4, 8]" aria-label="Selecione a página">
      </mat-paginator>
  
    </div>
  
  </mat-card>
  
