<mat-toolbar class="background-color">
  <mat-icon class="mat-18">description</mat-icon>
  <span>{{title}}</span>
</mat-toolbar>
<br>
<mat-card>
  <form [formGroup]="formExame">
    <div mat-dialog-content>
      <input type="hidden" formControlName="id">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite o nome do exame" formControlName="nome" />
      </mat-form-field>

      <mat-form-field style="width: 49%; margin-right: 3px" appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option value="Hematologia">Hematologia</mat-option>
          <mat-option value="Bioquímica">Bioquímica</mat-option>
          <mat-option value="Imunologia/Sorologias">Imunologia/Sorologias</mat-option>
          <mat-option value="Parasitologia">Parasitologia</mat-option>
          <mat-option value="Uroanálise">Uroanálise</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 50%">
        <mat-label>Valor</mat-label>
        <input matInput type="number" placeholder="Digite o valor do exame" formControlName="valor">
      </mat-form-field>
    </div>
  </form>
  <div mat-dialog-actions [align]="'start'">
    <button mat-raised-button color="warn" (click)="fecharModal()">
      Cancelar
    </button>
    <button mat-raised-button style="margin-left: 8px" class="background-color" (click)="onSubmit()">
      {{btn}}
    </button>
  </div>

</mat-card>
