<p>Valor: {{valor}}</p>
<mat-card class="example-card">
  <mat-toolbar class="background-color">
    <mat-icon class="mat-18">description</mat-icon>
    <span>Requisição</span>
  </mat-toolbar>
  <br />
  <mat-card-content>
    <mat-card-title>Pesquise o cliente</mat-card-title>
    <br />
    <form [formGroup]="formRequisicao">
      <mat-form-field appearance="outline">
        <mat-label>Pesquisar por CPF</mat-label>
        <input matInput placeholder="Digite o CPF" formControlName="cpf" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <div class="example-button-row">
      <button mat-flat-button class="background-color" (click)="onSubmit()">Pesquisar</button>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-content *ngIf="visibleForm">
    <p>Nome: {{pessoa.id}}</p>
    <p>Nome: {{pessoa.nome}}</p>
    <p>Nome: {{pessoa.cpf}}</p>
  </mat-card-content>

</mat-card>
