<mat-card class="example-card">
  <mat-toolbar class="background-color">
    <mat-icon class="mat-18">description</mat-icon>
    <span> Iniciar requisição</span>
  </mat-toolbar>
  <br />
  <span>Inicie uma requisição pesquisando pelo cpf do paciente.</span>
  <mat-card-content>   
    <br />
    <form [formGroup]="formPesq">
      <mat-form-field appearance="outline">
        <mat-label>Pesquisar paciente</mat-label>
        <input matInput placeholder="Digite o CPF" formControlName="cpf" mask="000.000.000-00" />
      </mat-form-field>
      <button mat-icon-button (click)="pesquisar()">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-content *ngIf="visibleForm">
    <mat-card-title>Dados do paciente</mat-card-title>
    <br />
    <div>
      <h3>
        <span><strong>Nome: </strong> {{ pessoa.nome }}</span>
        | <span><strong>CPF: </strong> {{ pessoa.cpf }}</span>
        | <span><strong>Telefone: </strong> {{ pessoa.telefone }}</span>
      </h3>
    </div>

    <form [formGroup]="formRequisicao">
      <div mat-dialog-content>
        <mat-form-field style="width: 50%; margin-inline-end: 8px;" appearance="outline">
          <mat-label>Nome médico</mat-label>
          <input matInput placeholder="Digite o nome do médico solicitante" formControlName="nomeMedico">
        </mat-form-field>
        <mat-form-field style="width: 25%; margin-inline-end: 8px;" appearance="outline">
          <mat-label>CRM</mat-label>
          <input matInput placeholder="Digite o CRM do médico" formControlName="crmMedico">
        </mat-form-field>
        <mat-form-field style="width: 20%; margin-inline-end: 8px;" appearance="outline">
          <mat-label>Forma de pagamento</mat-label>
          <mat-select formControlName="formaPagamento">
            <mat-option value="A_VISTA">A VISTA</mat-option>
            <mat-option value="CARTAO_CREDITO">CREDITO</mat-option>
            <mat-option value="CARTAO_DEBITO">DEBITO</mat-option>
          </mat-select>
        </mat-form-field>
        <input type="hidden" formControlName="valorTotalRequisicao" [value]="valor">
      </div>

      <mat-divider></mat-divider>

      <div>
        <mat-card-title>Selecione os exames:</mat-card-title>
        <br>
        <div class="row">
          <div class="col-4">
            <h4><strong>Bioquímica</strong></h4>
            <div *ngFor="let e of exames">
              <mat-checkbox color="primary" *ngIf="e.tipo == 'Bioquímica'" (change)="eventoCheckBox($event); obterExame(e);">
                {{e.nome}} - {{e.valor | currency : 'BRL' }}
              </mat-checkbox>
            </div>
          </div>

          <div class="col-4">
            <h4><strong>Hematologia</strong></h4>
            <div *ngFor="let e of exames">
              <mat-checkbox color="primary" *ngIf="e.tipo == 'Hematologia'" (change)="eventoCheckBox($event); obterExame(e);">
                {{e.nome}} - {{e.valor | currency : 'BRL'}}
              </mat-checkbox>
            </div>
          </div>

          <div class="col-3">
            <h4><strong>Imunologia/Sorologias</strong></h4>
            <div *ngFor="let e of exames">
              <mat-checkbox color="primary" *ngIf="e.tipo == 'Imunologia/Sorologias'" (change)="eventoCheckBox($event); obterExame(e);">
                {{e.nome}} - {{e.valor | currency : 'BRL'}}
              </mat-checkbox>
            </div>
          </div>

          <div class="col-3">
            <h4><strong>Parasitologia</strong></h4>
            <div *ngFor="let e of exames">
              <mat-checkbox color="primary" *ngIf="e.tipo == 'Parasitologia'" (change)="eventoCheckBox($event); obterExame(e);">
                {{e.nome}} - {{e.valor | currency : 'BRL'}}
              </mat-checkbox>
            </div>
          </div>

          <div class="col-3">
            <h4><strong>Uroanálise</strong></h4>
            <div *ngFor="let e of exames">
              <mat-checkbox color="primary" *ngIf="e.tipo == 'Uroanálise'" (change)="eventoCheckBox($event); obterExame(e);">
                {{e.nome}} - {{e.valor | currency : 'BRL'}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>
    <div>
      <h3><strong>Valor total dos exames:</strong> {{valor | currency : 'BRL'}}</h3>
    </div>
    <div class="example-button-row">
      <button mat-flat-button class="background-color" [disabled]="btnSalvar" (click)="onSubmit()">Salvar requisição</button>
    </div>
    <br>
  </mat-card-content>
