.background-color {
  color: #fff;
  background-color: #0a6789;
}

mat-form-field {
  margin-right: 2%;
}

mat-divider {
  margin-top: 2%;
  margin-bottom: 2%;
}

.example-chip-list {
  width: 100%;
}

