<mat-toolbar class="background-color">
  <mat-icon class="mat-18">description</mat-icon>
  <span>Clientes cadastrados</span>
</mat-toolbar>
<br>
<button mat-raised-button (click)="openDialog()">Adiconar cliente</button>
<br><br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let pessoa"> {{ pessoa.id }} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let pessoa"> {{ pessoa.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let pessoa"> {{ pessoa.cpf }} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="rg">
    <th mat-header-cell *matHeaderCellDef> RG </th>
    <td mat-cell *matCellDef="let pessoa"> {{ pessoa.rg }} </td>
  </ng-container> -->

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let pessoa"> {{ pessoa.telefone }} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="diabetico">
    <th mat-header-cell *matHeaderCellDef> Diabetico </th>
    <td mat-cell *matCellDef="let pessoa"> {{ pessoa.diabetico }} </td>
  </ng-container>

  <ng-container matColumnDef="medicamentosQueToma">
    <th mat-header-cell *matHeaderCellDef> Medicamentos em uso </th>
    <td mat-cell *matCellDef="let pessoa"> {{ pessoa.medicamentosQueToma }} </td>
  </ng-container>

  <ng-container matColumnDef="outrasInformacoes">
    <th mat-header-cell *matHeaderCellDef> Obs: </th>
    <td mat-cell *matCellDef="let pessoa"> {{ pessoa.outrasInformacoes }} </td>
  </ng-container> -->

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let pessoa">
        <button mat-icon-button color="primary" aria-label="Editar Exame">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Deletar Exame" (click)="deletar(pessoa.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="100" [pageSize]="8" [pageSizeOptions]="[4, 8]" aria-label="Selecione a página">
  </mat-paginator>

</div>
