<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <img src="../../../../assets/user.png" alt="Administrador">
      <h2></h2>
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Menu Principal</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/principal/pessoa">
    <mat-icon fontIcon="person"></mat-icon>Pacientes
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/principal/exame">
    <mat-icon fontIcon="article"></mat-icon>Exames
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/principal/requisicao-list">
    <mat-icon fontIcon="plagiarism"></mat-icon>Requisições
  </a>

</mat-nav-list>
