<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Administrador</h2>
        </div>
        <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-512.png" alt="Administrador">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Páginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Requisição</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/exame">Exame</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/clientes">Clientes</a>


</mat-nav-list>


