<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Administrador</h2>
    </div>
    <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-512.png" alt="Administrador">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Menu Principal</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/requisicao-list">
    <mat-icon fontIcon="description"></mat-icon>Requisição
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/exame">
    <mat-icon fontIcon="description"></mat-icon>Exames
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/pessoa">
    <mat-icon fontIcon="person"></mat-icon>Clientes
  </a>

</mat-nav-list>
